{% extends "layouts/base_main.html" %}

{% block title %} Password Reset Page {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}




 <form method="post">
     {% csrf_token %}

     {{form}}

     <button type="submit">Send mail</button>

     <a class="navbar-link" href="{% url 'login' %}"><h2><b>Back to login</b></h2></a>
 </form>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
