<body text="black" style ="background: url(https://c0.klipartz.com/pngpicture/314/556/sticker-png-film-business-marketing-video-production-companies-logo-bosch-angle-white-company-service-rectangle.png);background-size:100%;">
{% load static %}
    <div class="card" style="width: 18rem;">
  <img src="{% static 'images/images2.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">For more updates!</h5>
  <ul class="list-group list-group-flush">
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Check this out</a>
  </div>
</div>
    </div>
    <h1>Robert Bosch EBB</h1>
    <h2>Asset Management and tracking</h2>
    <h2>Year : {{ time | date:'Y' }}</h2>
    <h2>Month : {{ time | date:'M' }}</h2>
     <li><a class="navbar-link" href="{% url 'homepage' %}"><b>Back</b></a>

