
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosch EBB Feedback Page</title>
</head>
<body text="black" style ="background: url(https://c0.klipartz.com/pngpicture/314/556/sticker-png-film-business-marketing-video-production-companies-logo-bosch-angle-white-company-service-rectangle.png);background-size:100%;">
 <pre><centre>
     <h1><b>Welcome to the feedback page</b></h1>
     <li><a class="navbar-link" href="{% url 'homepage' %}"><b>Back</b></a>

 </centre></pre>

</body>
</html>