{% extends  "layouts/base.html"  %}
{% load static %} <!-- New line -->
{% block title %} Add Asset {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="row w-100 m-0">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-12 mx-auto">
          <div class="card-body px-10 py-10">
 <form action="" method="POST">
      {% csrf_token %}

         {% for list in lists %}
         <div class="alert alert-primary text-center" role="alert" xmlns="http://www.w3.org/1999/html">
         <h1>Lab {{ forloop.counter }}</h1>
         </div>
         <p><b>Host Name</b> :    {{list.Host_name}}</p>
         <p><b>Lab Name</b> :    {{list.lab_name}}</p>
         <p><b>FQDN</b>:    {{list.FQDN}}</p>
         <P><b>Operating system</b> :    {{list.OS}}</P>
         <p><b>Com Port</b> :    {{list.COM_port_details}}</p>
         <p><b>Other details</b>:   {{list.Other_details}}</p>
         <br>
         <a href="{% url 'event_new' %}" class="btn btn-success">Book LAB{{ forloop.counter}}</a>
         <br>
         <br>

     {% endfor %}
 </form>


{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}