{% extends  "layouts/base.html"  %}
{% load static %} <!-- New line -->
{% block title %} Add Asset {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="row w-100 m-0">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-9 mx-auto">
          <div class="card-body px-10 py-10">
              <div class="alert alert-primary text-center" role="alert" xmlns="http://www.w3.org/1999/html">
	<h1>Edit Asset Data</h1>
	</div>


{% if submitted %}
   <p class="success">
     Your message was submitted successfully. Thank you.
   </p>

 {% else %}

 <form action="/edit_asset/{{all.id}}" method="POST">
     <input type="hidden" name="id" id="id" required maxlength="20" value="{{all.id}}"/>
    {% csrf_token %}
	<div class="form-group row">
	<label for="AssetNo" class="col-sm-2 col-form-label">Asset Number</label>
	  <input type="number" name="Asset No" value="{{all.AssetNo}}"/>
   </div>

  <div class="form-group row">
	<label for="Owner" class="col-sm-2 col-form-label">Asset Owner</label>
	  <input type="text" name="Asset Owner" value="{{all.Owner}}"/>
  </div>

  <div class="form-group row">
	<label for="AssetTypeModel" class="col-sm-2 col-form-label">Asset Type/Model</label>
		 <input type="text" name="Asset type" value="{{all.AssetTypeModel}}"/>
  </div>

  <div class="form-group row">
	<label for="TeamName" class="col-sm-2 col-form-label">Team</label>
		<input type="text" name="Team" value="{{all.TeamName}}"/>
  </div>
     <div class="form-group row">
	<label for="Group" class="col-sm-2 col-form-label">Group</label>
	<input type="text" name="Group" value="{{all.Group}}"/>
  </div>

     <div class="form-group row">
	<label for="Loc" class="col-sm-2 col-form-label">Location</label>
	<input type="text" name="Loc" value="{{all.Loc}}"/>
  </div>


  <div class="form-group row">
	<label for="ProductLine" class="col-sm-2 col-form-label">Product line</label>
	<input type="text" name="Product Line" value="{{all.ProductLine}}"/>
  </div>

  <div class="form-group row">
	<label for="Remark" class="col-sm-2 col-form-label">Remark</label>
	<input type="text" name="Remark" value="{{all.Remark}}"/>
  </div>


<center></pre>
<div class="text-right">
<input type="submit" value=Save>
  </div>
</pre></center>

</form>

{% endif %}







{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}