{% extends  "layouts/base.html"  %}
{% load static %} <!-- New line -->
{% block title %} Add Asset {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="row w-100 m-0">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-9 mx-auto">
          <div class="card-body px-10 py-10">
              <div class="alert alert-primary text-center" role="alert" xmlns="http://www.w3.org/1999/html">
	<h1>Edit Asset Data</h1>
	</div>



<div class="main">
	<!-- Create a Form -->
	<form method="POST">
		<!-- Security token by Django -->
		{% csrf_token %}

		<!-- form as paragraph -->
		{{ form.as_p }}
         <center></pre>
             <div class="text-right">
		<input type="submit" value="Update">
             </div>
             </pre></center>
	</form>

</div>













{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}