{% extends  "layouts/base.html"  %}
{% load static %} <!-- New line -->
{% block title %} Add Asset {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="alert alert-primary text-center" role="alert" xmlns="http://www.w3.org/1999/html">
	<h1>EBB Hardware SetUp details</h1>
	</div>


{% if submitted %}
   <p class="success">
     Your message was submitted successfully. Thank you.
   </p>
 
 {% else %}

 <form action="" method="POST">
    {% csrf_token %}
	<div class="form-group row">
	<label for="HostName" class="col-sm-2 col-form-label">Host name</label>
		{{form.Host_name}}
   </div>

  <div class="form-group row">
	<label for=" FQDNNo" class="col-sm-2 col-form-label">FQDN no</label>
		{{form.FQDN}}
  </div>

  <div class="form-group row">
	<label for="OS" class="col-sm-2 col-form-label">Operating system</label>
		{{form.OS}}
  </div>

  <div class="form-group row">
	<label for="COM Port" class="col-sm-2 col-form-label">COM PORT </label>
		{{form.COM_port_details}}
  </div>
     <div class="form-group row">
	<label for="Other Details" class="col-sm-2 col-form-label">Other details</label>
		{{form.Other_details}}
  </div>



<center></pre>
<div class="text-right">
<input type="submit" value=ADD>
  </div>
</pre></center>

</form>

{% endif %}







{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}