{% extends  "layouts/base.html"  %}
{% load static %} <!-- New line -->
{% block title %} Add Asset {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="alert alert-primary text-center" role="alert" xmlns="http://www.w3.org/1999/html">
	<h1>EBB Assets Records</h1>
	</div>

 <div class="text-right">

        <button>
          <a id ="Export" href="{% url 'export' %}">Export </a>
        </button>
       </div>

       <div class="text-right">
        <button>
          <a id ="ExportPDF" href="{% url 'export_pdf' %}">Export PDF</a>
        </button>
       </div>

       <div class="text-right">

        <button>
          <a id ="Back" href="{% url 'home' %}">Back</a>
        </button>
       </div>

<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
          <th>Asset No</th>
        <th>Owner</th>
        <th>Asset Type</th>
        <th>Group</th>
        <th>Team name</th>
          <th>Product Line</th>
          <th>Remark</th>


      </tr>
    </thead>

    <tbody>
    {% for asset in assets %}
    <tr>
        <td>{{ asset.AssetNo}}
        <td>{{ asset.Owner }}</td>
        <td>{{ asset.AssetTypeModel }}</td>
        <td>{{ asset.Group }}</td>
        <td>{{ asset.TeamName }}</td>
        <td>{{ asset.ProductLine}}</td>
        <td>{{ asset.Remark }}</td>
        <td></td>
    </tr>
    {% endfor %}



</tbody>

</table>


{% endblock content %}


<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}