<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user </title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

</head>
<b><body text="white" style ="background: url(https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/7502c4fab3c11f90ed12b06b5e7b138d);background-size:100%;">
<nav class="navbar navbar-light" style="background-color:#FF0033;">
    <a href="#" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">Bosch Asset Management</a>
        <a href="{% url 'homepage' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">HomePage</a>
</nav>
<form method="post" class="post-form">

    {% csrf_token %}
<center>
    <div class="container">
        <div class ="form-group row">
            <label class= "col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <center>
                    <h3><b>Enter Asset details</b></h3>
                </center>
            </div>
        </div>
        <br>
             <div class ="form-group row">
            <label class= "col-sm-1 col-form-label"><b>Asset Id</b></label>
            <div class="col-sm-4">
                {{form.sID}}
            </div>
         </div>
             <div class ="form-group row">
            <label class= "col-sm-1 col-form-label"><b> Asset First Name</b></label>
            <div class="col-sm-4">
                {{form.f_name}}
            </div>
         </div>
             <div class ="form-group row">
            <label class= "col-sm-1 col-form-label"><b>Asset Last Name</b></label>
            <div class="col-sm-4">
                {{form.l_name}}
            </div>
         </div>
             <div class ="form-group row">
            <label class= "col-sm-1 col-form-label"><b>Asset email</b></label>
            <div class="col-sm-4">
                {{form.email}}
            </div>
         </div>
             <div class ="form-group row">
            <label class= "col-sm-1 col-form-label"><b>Asset Mobile number</b></label>
            <div class="col-sm-4">
                {{form.Mob}}
            </div>
         </div>
             <div class ="form-group row">
            <label class= "col-sm-1 col-form-label"><b>Asset Photo</b></label>
            <div class="col-sm-4">
                {{form.upload_photo}}
            </div>
         </div>
             <div class ="form-group row">
            <label class= "col-sm-1 col-form-label"> <b>Asset group</b></label>
            <div class="col-sm-4">
                {{form.group}}
            </div>
         </div>
             <div class ="form-group row">
            <label class= "col-sm-1 col-form-label"> <b>Asset team</b></label>
            <div class="col-sm-4">
                {{form.team_name}}
            </div>
         </div>
             <div class ="form-group row">
            <label class= "col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a  href="{% url 'excelpage' %}">Upload via excel</a>


            </div>

         </div>

    </div>
</center>

</form>
</body>
</html>