<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload data</title>
</head>
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>
<body>

<div class="add_buttons">

    <div class="button-group">
      <a href="{% url 'file' %}" class="btn btn-primary btn-md btn-trim" role="button">Edit Asset</a>
      <a href="{% url 'file' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>
    </div>

  </div>
<h4>{{Header}}</h4>
<table class="table table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Asset Number</th>
        <th>Asset Type</th>
        <th>Group</th>
        <th>Team name</th>
      </tr>
    </thead>

    <tbody>
    {% for asset in assets %}
    <tr>
        <td>{{ asset.pk }}
        <td>{{ asset.f_name }}</td>
        <td>{{ asset.l_name }} $</td>
        <td>{{ asset.asset_num }}</td>
        <td>{{ asset.asset_type }}</td>
        <td>{{ asset.group }}</td>
        <td>{{ asset.team_name}}</td>
    </tr>
    {% endfor %}


    </tbody>

</table>

</body>
</html>