{% extends  "layouts/base.html"  %}
{% load static %} <!-- New line -->
{% block title %} Add Asset {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <meta charset="UTF-8">
    <title>Bosch EBB Feedback Page</title>


 <pre><centre>
     <h1><b>Welcome to the feedback page</b></h1>
     <li><a class="navbar-link" href="{% url 'add_asset' %}"><b>Back</b></a>

 </centre></pre>









{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
