<!DOCTYPE html>
<html>
<head>
    <title>EBB tool registration form</title>
</head>
<body text="white" style ="background: url(https://img.etimg.com/thumb/msid-77804371,width-1200,height-900/industry/auto/auto-news/government-should-announce-special-stimulus-package-for-auto-industry-bosch.jpg);background-size:100%;">
    <pre><center>
        <h1><b>Welcome to the EBB tracking tool User information form</b></h1>
        <h3><b>Add your required data</b></h3>
        <form action = ' ' method="post"> <!--action blank means form automatically handle the response-->
            <!-- Very Important csrf Token -->
            {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" name="register">
    </form>
    </center></pre>
</body>
</html>