<!DOCTYPE html>
<html>
<head>
    <title>Update Page</title>
</head>
<b><body text="white" style ="background: url(https://thumbs.dreamstime.com/z/street-signage-board-robert-bosch-gmbh-logo-evening-blurred-business-district-skyscrapers-background-editorial-d-80340021.jpg);background-size:100%;">
    <pre><center>
        <h1><b>Edit Records</b></h1>
        <form action = 'updateProfile' method="post"> <!--action blank means form automatically handle the response-->
            <!-- Very Important csrf Token -->
            {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" name="register">
    </form>
    </center></pre>
    <pre><center>
<a class="nav-link active" aria-current="page" href="{% url 'homepage' %}"><h1><b>Back</b></h1></a>
    </center></pre>
</body></b>
</html>