<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Asset Records</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<b><body text="white" style ="background: url(https://www.bosch-connectivity.com/media/home/bosch-supergraphic-light-blue_res_800x450.jpg);background-size:100%;">
<nav class="navbar navbar-light" style="background-color:#FF0033;">
    <a href="#" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">Bosch Asset Management</a>

    <a href="{% url 'addUser' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Enter Asset Details</a>
</nav>
<br>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
          <th>Sl No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Age</th>
          <th>Group</th>
          <th>Team Name</th>
      </tr>
    </thead>

    <tbody>
    {% for asset in assets %}
    <tr>
        <td>{{ asset.sID}}
        <td>{{ asset.f_name }}</td>
        <td>{{ asset.l_name }} $</td>
        <td>{{ asset.email }}</td>
        <td>{{ asset.Mob }}</td>
        <td>{{ asset.age }}</td>
        <td>{{ asset.group }}</td>
        <td>{{ asset.team_name}}</td>
        <td>
            <a href="update/{{book.id}}" class="btn btn-warning" id = '{{asset.assst_id}}'>edit</a>
       <a href="delete/{{book.id}}" class="btn btn-danger" id = '{{asset.asset_id}}'>delete</a>
        </td>
    </tr>
    {% endfor %}


    <table>

</table>
</body>
</html>